<section class="container" style="width: 500px">
  <h4 class="text-center">Todos</h4>
  <input type="text" placeholder="Add a new todo" style="width: 100%" autofocus="" maxlength="30" #todoInput (keyup.enter)="addTodo(todoInput)">
  <section *ngIf="todos">
    <ul class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        <div class="row">
          <div class="col-md-9">
            <input type="checkbox" (click)="toggleComplete(todo)" [checked]="todo.completed">
            <label [class.complete]="todo.completed">{{todo.title}}</label>
          </div>
          <div class="col-md-3">
            <button class="btn btn-sm btn-danger" (click)="deleteTodo(todo)">Delete</button>
          </div>
        </div>
      </li>
    </ul>
      <footer>  
    <p>open: {{todos.length - completedItems}}  completed: {{completedItems}}</p>
  </footer>
  </section>
</section>